.layout {
  width: 100%;
  display: flex;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.text {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.009em;
  padding: 6px;
  color: black;
}
.icon {
  max-width: 300px;
  width: "80%";
  height: "100%";
}

